.body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 600px;
  height: 630px;
  display: flex;
  margin: 28% 0 0 0;
  flex-direction: column;
  align-items: center;
  color: #c2ead5;
  background-color: var(--primary-color);

  #exit {
    background-color: transparent;
    border-style: none;
    margin-left: 90%;
    font-weight: 700;
    font-size: 40px;
    color: #c2ead5;

    :hover {
      color: #551a8b;
      cursor: pointer;
    }
  }

  h1 {
    margin: 0 0 8%;
  }

  .info {
    input,
    select {
      width: 250px;
      height: 30px;
      margin-bottom: 10px;
      padding: 0 10px 0 10px;
      border-radius: 5px;
    }

    label {
      display: flex;
      justify-content: space-between;
    }
  }

  p {
    color: rgba(95, 13, 13, 1);
    font-size: small;
  }

  .btn {
    button {
      margin: 10% 0 0 30%;
      width: 150px;
      height: 50px;
      border-style: none;
      border-radius: 5px;
      font-family: var(--primary-font);
      font-weight: 600;
    }

    button:hover {
      cursor: pointer;
      background-color: #c2ead5;
    }
  }
}
