.body {
  display: flex;
  justify-content: center;
}

.forgot-wrapper {
  width: 400px;
  height: 500px;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
  color: #c2ead5;
  background-color: var(--primary-color);

  #exit-forgot {
    margin-left: 350px;
    font-weight: 700;
    font-size: 40px;
    color: #c2ead5;

    :hover {
      color: #551a8b;
    }
  }

  h1 {
    margin: 5% 0 8%;
  }

  p {
    text-align: center;
    margin: 0 40px 20px 40px;
  }

  .forgot-info {
    label {
      margin-left: 75px;
    }

    input {
      width: 250px;
      height: 30px;
      margin-bottom: 10px;
      margin-left: 75px;
      padding: 0 10px 0 10px;
      border-radius: 5px;
    }
  }

  .btn {
    button {
      margin: 5% 0 0 31%;
      width: 150px;
      height: 50px;
      border-style: none;
      border-radius: 5px;
      font-family: var(--primary-font);
      font-weight: 600;
    }

    button:hover {
      cursor: pointer;
      background-color: #c2ead5;
    }
  }
}
