.content {
  margin: 60% 0 0 40%;
  width: 400px;
  height: 480px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  #exit {
    background-color: transparent;
    border-style: none;
    margin-left: 90%;
    font-weight: 700;
    font-size: 40px;
    color: #c2ead5;

    :hover {
      color: #551a8b;
      cursor: pointer;
    }
  }

  h3 {
    color: #c2ead5;
    margin: 0 0 3%;
  }

  img {
    width: 60%;
  }

  .btn {
    width: 80%;
    display: flex;
    justify-content: center;

    button {
      margin-top: 5%;
      width: 150px;
      height: 50px;
      border-style: none;
      border-radius: 5px;
      font-family: var(--primary-font);
      font-weight: 600;
    }

    button:hover {
      cursor: pointer;
      background-color: #c2ead5;
    }
  }
}
