.container {
  .title {
    padding: 30px 0;
  }

  .add {
    margin-top: 20px;
    margin-left: 80%;
    outline: 1px solid;
  }
}
table {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 2px solid forestgreen;
  background: rgba(22, 24, 35, 0.06);
  width: 90%;
}

th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 50px;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  padding: 20px 0;
}
