.search-bar {
  position: relative;
  width: 35%;
  height: 46px;
  padding-left: 16px;
  border-radius: 92px;
  display: flex;
  background: rgba(22, 24, 35, 0.1);

  .search-info {
    flex: 1;
    font-size: 1.6rem;
    width: 87%;
    height: 100%;
    background-color: transparent;
  }
}
