.search-bar {
  position: relative;
  width: 35%;
  height: 46px;
  padding-left: 16px;
  border-radius: 92px;
  display: flex;
  background: rgba(22, 24, 35, 0.1);

  .search-info {
    flex: 1;
    font-size: 1.6rem;
    width: 87%;
    height: 100%;
    background-color: transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 13%;
    width: 1px;
    height: 28px;
    background-color: rgba(22, 24, 35, 0.12);
  }

  .search-btn {
    width: 13%;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-color: rgba(22, 24, 35, 0.03);
    }
  }
}
