table {
  margin-top: 20px;
  border: 2px solid forestgreen;
  width: 90%;
}

th {
  border-bottom: 1px solid black;
  height: 50px;
}

td {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 20px 0;
}

button {
  background-color: #fff;
  padding: 5px;
  border: 1px solid black;
}
